@font-face {
  font-family: 'Vintage Glamour';
  src: url(assets/VintageGlamourRegular-ALX27.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Tilt Warp', cursive;
  font-size: 18px;

  background-color: var(--cinzaEscuro);
  overflow-x: hidden;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
:root{
  --primaryColor: #f2b138;
  --secondColor: #003f63;
  --cinzaClaro: #d9d9d9;
  --cinzaMedio: #a1a5a6;
  --cinzaEscuro: #353d40;
  --white: white;
}
.header{
  width: 100vw;
  padding: 18px;

  background: var(--primaryColor);
  color: var(--cinzaClaro);

  display: flex;
  justify-content: space-around;
  align-items: center;

  /* border-bottom: 1px solid var(--cinzaEscuro); */
}
.header a{
  text-decoration: none;
  transition: 0.1s;
  color: var(--white);
}
.header a:hover{
  border-bottom: 3px solid var(--white);
}
h1{
  font-size: 45px;
  color: var(--cinzaClaro);
}
p{
  font-size: 25px;
  color: var(--cinzaClaro);
}
.main{
  width: 100vw;
  padding: 10rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  gap: 2rem;
}
.quemSomos{
  width: 34rem;

  gap: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;
}
button{
  width: 15rem;
  padding: 1.4rem;

  cursor: pointer;

  font-size: 18px;

  background: var(--cinzaClaro);
  color: var(--secondColor);
  border: 1px solid var(--secondColor);

  transition: 1s;
}
button:hover{
  background-color: var(--secondColor);
  border: 1px solid var(--cinzaClaro);
  color: var(--cinzaClaro);
}

/* CCS DO SLIDER */

.slider{
  margin: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.slides{
  width: 500%;
  height: 1080px;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  width: 25%;
  position: relative;
}
.slide img{
  width: 1920px;
}
.manual-navigation{
  position: absolute;
  width: 1920px;
  margin-top: -160px;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid var(--primaryColor);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background-color: var(--primaryColor);
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
#radio3:checked ~ .first{
  margin-left: -50%;
}
#radio4:checked ~ .first{
  margin-left: -75%;
}
#radio5:checked ~ .first{
  margin-left: -100%;
}

.navigation-auto div{
  border: 2px solid var(--secondColor);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navigation-auto{
  position: absolute;
  width: 1980px;
  margin-top: 920px;
  margin-left: -30px;
  display: flex;
  justify-content: center;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: var(--primaryColor);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: var(--primaryColor);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: var(--primaryColor);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: var(--primaryColor);
}
#radio5:checked ~ .navigation-auto .auto-btn5{
  background-color: var(--primaryColor);
}