@font-face {
  font-family: 'Vintage Glamour';
  src: url(assets/VintageGlamourRegular-ALX27.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Tilt Warp', cursive;
  font-size: 18px;

  background-color: var(--secondColor);
  overflow-x: hidden; 
}
/* @keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} */
:root{
  --primaryColor: #f2b138;
  --secondColor: #003f63;
  --cinzaClaro: #d9d9d9;
  --cinzaMedio: #a1a5a6;
  --cinzaEscuro: #353d40;
  --white: white;
}
/* Estilizando o header */

.header{
  width: 100vw;

  background: var(--primaryColor);
  color: var(--cinzaClaro);

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header a{
  text-decoration: none;
  transition: 400ms;
  color: var(--white);
}
.header a:hover{
  transform: scale(1.2);
  transition-duration: 300ms;
  border-bottom: 3px solid var(--white);
}
.header .imgMenu{
  display: none;
}

/* Fim do css do Header */

/* CSS do main e dos elementos dele */

.main{

  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3rem;
}
h1{
  font-size: 30px;
  color: var(--cinzaClaro);
}
h2{
  color: var(--cinzaClaro);
}
h3{
  color: var(--cinzaClaro);
}
p{
  font-size: 20px;
  color: var(--cinzaClaro);
}
li{
  font-size: 22px;
  color: var(--cinzaClaro);
  margin: 1rem 0;
}
.buttonLight{
  width: 15rem;
  padding: 1.4rem;
  border-radius: 0.5rem;

  cursor: pointer;

  font-size: 18px;

  background: var(--primaryColor);
  color: var(--secondColor);
  border: 1px solid var(--secondColor);

  transition: 0.5s;
}
.buttonLight:hover{
  background-color: var(--secondColor);
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
}
.buttonDark{
  width: 15rem;
  padding: 1.4rem;

  cursor: pointer;

  font-size: 18px;

  background: var(--secondColor);
  color: var(--cinzaClaro);
  border: 1px solid var(--cinzaEscuro);

  transition: 1s;
}
.buttonDark:hover{
  background-color: var(--primaryColor);
  border: 1px solid var(--secondColor);
  color: var(--secondColor);
}
.propostas .sectionDark a{
  text-decoration: underline;
  color: var(--cinzaClaro);
  cursor: pointer;
}
.propostas .sectionLight a{
  color: var(--cinzaEscuro);
  text-decoration: underline;
  cursor: pointer;
}
.sectionDark{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
  padding: 5rem 10vw;
}
.sectionLight{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
  padding: 5rem 10vw;

  color: var(--cinzaEscuro);
  background-color: var(--primaryColor);
}

.sectionLight h1, .sectionLight h2,.sectionLight p,.sectionLight li{
  color: var(--cinzaEscuro);
}

/* TIRANDO VISIBILIDADE DOS UL */

ul{
  display: none;
}


.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.card .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.card .text p{
  font-size: 18px;
  color: var(--secondColor);
  font-weight: 600;
}

.card .text p + p{
  color: var(--cinzaEscuro);
  font-size: 16px;
  text-decoration: none;
  font-weight: initial;
}
.card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

/* Fim do css do main */

/*FOOTER*/

.footer{
  padding: 2rem;
  background-color: var(--cinzaEscuro);
}
address{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
address p{
  font-size: 20px;
  color: var(--cinzaClaro);
}
address a{
  text-decoration: none;
  color: var(--primaryColor);
}

/*FIM DO FOOTER*/


/* CCS DO SLIDER */

.slider{
  margin: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.slides{
  width: 500%;
  height: 1080px;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  width: 25%;
  position: relative;
}
.slide img{
  width: 1920px;
}
.manual-navigation{
  position: absolute;
  width: 1920px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid var(--primaryColor);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background-color: var(--primaryColor);
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -25%;
}
#radio3:checked ~ .first{
  margin-left: -50%;
}
#radio4:checked ~ .first{
  margin-left: -75%;
}
#radio5:checked ~ .first{
  margin-left: -100%;
}

.navigation-auto div{
  border: 2px solid var(--primaryColor);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navigation-auto{
  position: absolute;
  width: 1920px;
  margin-top: 1000px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: var(--primaryColor);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: var(--primaryColor);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: var(--primaryColor);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: var(--primaryColor);
}
#radio5:checked ~ .navigation-auto .auto-btn5{
  background-color: var(--primaryColor);
}

/* Ínicio das medias para arrumar a responsividade de alguns objetos */

@media only screen and (max-width: 1600px) {
  .slider{
    margin: 0;
    width: 1600px;
    height: 900px;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    height: 900px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 25%;
    position: relative;
  }
  .slide img{
    width: 1600px;
  }
  .manual-navigation{
    position: absolute;
    width: 1600px;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }
  .manual-btn{
    border: 2px solid var(--primaryColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  .manual-btn:hover{
    background-color: var(--primaryColor);
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -25%;
  }
  #radio3:checked ~ .first{
    margin-left: -50%;
  }
  #radio4:checked ~ .first{
    margin-left: -75%;
  }
  #radio5:checked ~ .first{
    margin-left: -100%;
  }
  
  .navigation-auto div{
    border: 2px solid var(--secondColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto{
    position: absolute;
    width: 1600px;
    margin-top: 820px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--primaryColor);
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--primaryColor);
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--primaryColor);
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--primaryColor);
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--primaryColor);
  }
}
@media only screen and (max-width: 1440px) {
  .slider{
    margin: 0;
    width: 1440px;
    height: 900px;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    height: 900px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 25%;
    position: relative;
  }
  .slide img{
    width: 1440px;
  }
  .manual-navigation{
    position: absolute;
    width: 1440px;
    margin-top: -160px;
    display: flex;
    justify-content: center;
  }
  .manual-btn{
    border: 2px solid var(--primaryColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  .manual-btn:hover{
    background-color: var(--primaryColor);
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -25%;
  }
  #radio3:checked ~ .first{
    margin-left: -50%;
  }
  #radio4:checked ~ .first{
    margin-left: -75%;
  }
  #radio5:checked ~ .first{
    margin-left: -100%;
  }
  
  .navigation-auto div{
    border: 2px solid var(--secondColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto{
    position: absolute;
    width: 1440px;
    margin-top: 740px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--primaryColor);
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--primaryColor);
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--primaryColor);
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--primaryColor);
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--primaryColor);
  }
}
@media only screen and (max-width: 1400px) {
  .slider{
    margin: 0;
    width: 1400px;
    height: 1050px;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    height: 1050px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 25%;
    position: relative;
  }
  .slide img{
    width: 1400px;
  }
  .manual-navigation{
    position: absolute;
    width: 1400px;
    margin-top: -330px;
    display: flex;
    justify-content: center;
  }
  .manual-btn{
    border: 2px solid var(--primaryColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  .manual-btn:hover{
    background-color: var(--primaryColor);
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -25%;
  }
  #radio3:checked ~ .first{
    margin-left: -50%;
  }
  #radio4:checked ~ .first{
    margin-left: -75%;
  }
  #radio5:checked ~ .first{
    margin-left: -100%;
  }
  
  .navigation-auto div{
    border: 2px solid var(--secondColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto{
    position: absolute;
    width: 1400px;
    margin-top: 720px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--primaryColor);
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--primaryColor);
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--primaryColor);
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--primaryColor);
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--primaryColor);
  }
}
@media only screen and (max-width: 1400px) {
  .slider{
    margin: 0;
    width: 1400px;
    height: 1050px;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    height: 1050px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 25%;
    position: relative;
  }
  .slide img{
    width: 1400px;
  }
  .manual-navigation{
    position: absolute;
    width: 1400px;
    margin-top: -330px;
    display: flex;
    justify-content: center;
  }
  .manual-btn{
    border: 2px solid var(--primaryColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  .manual-btn:hover{
    background-color: var(--primaryColor);
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -25%;
  }
  #radio3:checked ~ .first{
    margin-left: -50%;
  }
  #radio4:checked ~ .first{
    margin-left: -75%;
  }
  #radio5:checked ~ .first{
    margin-left: -100%;
  }
  
  .navigation-auto div{
    border: 2px solid var(--secondColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto{
    position: absolute;
    width: 1400px;
    margin-top: 720px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--primaryColor);
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--primaryColor);
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--primaryColor);
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--primaryColor);
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--primaryColor);
  }
}
@media only screen and (max-width: 1336px) {
  .slider{
    margin: 0;
    width: 1336px;
    height: 768px;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    height: 768px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 25%;
    position: relative;
  }
  .slide img{
    width: 1336px;
  }
  .manual-navigation{
    position: absolute;
    width: 1336px;
    margin-top: -88px;
    display: flex;
    justify-content: center;
  }
  .manual-btn{
    border: 2px solid var(--primaryColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  .manual-btn:hover{
    background-color: var(--primaryColor);
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -25%;
  }
  #radio3:checked ~ .first{
    margin-left: -50%;
  }
  #radio4:checked ~ .first{
    margin-left: -75%;
  }
  #radio5:checked ~ .first{
    margin-left: -100%;
  }
  
  .navigation-auto div{
    border: 2px solid var(--secondColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto{
    position: absolute;
    width: 1336px;
    margin-top: 680px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--primaryColor);
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--primaryColor);
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--primaryColor);
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--primaryColor);
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--primaryColor);
  }
}
@media only screen and (max-width: 1280px) {
  .slider{
    margin: 0;
    width: 1280px;
    height: 1024px;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    height: 1024px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 25%;
    position: relative;
  }
  .slide img{
    width: 1280px;
  }
  .manual-navigation{
    position: absolute;
    width: 1280px;
    margin-top: -354px;
    display: flex;
    justify-content: center;
  }
  .manual-btn{
    border: 2px solid var(--primaryColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  .manual-btn:hover{
    background-color: var(--primaryColor);
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -25%;
  }
  #radio3:checked ~ .first{
    margin-left: -50%;
  }
  #radio4:checked ~ .first{
    margin-left: -75%;
  }
  #radio5:checked ~ .first{
    margin-left: -100%;
  }
  
  .navigation-auto div{
    border: 2px solid var(--secondColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto{
    position: absolute;
    width: 1280px;
    margin-top: 670px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--primaryColor);
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--primaryColor);
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--primaryColor);
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--primaryColor);
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--primaryColor);
  }
}
@media only screen and (max-width: 500px) {
  .main{
    margin-top: 1rem;
  }
  .optMenu{
    display: none;
  }
  .header .imgMenu{
    display: flex;
  }
  .card{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
  .slider{
    margin: 0;
    width: 335px;
    height: auto;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    height: auto;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 25%;
    position: relative;
  }
  .slide img{
    width: 335px;
  }
  .manual-navigation{
    position: absolute;
    width: 335px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .manual-btn{
    border: 2px solid var(--primaryColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  .manual-btn:hover{
    background-color: var(--primaryColor);
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -25%;
  }
  #radio3:checked ~ .first{
    margin-left: -50%;
  }
  #radio4:checked ~ .first{
    margin-left: -75%;
  }
  #radio5:checked ~ .first{
    margin-left: -100%;
  }
  
  .navigation-auto div{
    border: 2px solid var(--secondColor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto{
    position: absolute;
    width: 335px;
    margin-top: 203px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--primaryColor);
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--primaryColor);
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--primaryColor);
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--primaryColor);
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--primaryColor);
  }

  .logo{
    position: relative;
    width: 140px;
    right: 20px;
  }
}
